<!-- <div class="facility">
  <div style="display: flex">
    <img
      src="https://static.vecteezy.com/system/resources/previews/005/584/216/original/fast-delivery-icon-fast-delivery-logo-free-vector.jpg"
      style="width: 55px"
    />
    <div>
      <h3>Online Support 24/7</h3>
      <p>Support online 24 hours a day</p>
    </div>
  </div>
  <div style="display: flex">
    <img
      src="https://static.vecteezy.com/system/resources/previews/005/584/216/original/fast-delivery-icon-fast-delivery-logo-free-vector.jpg"
      style="width: 55px"
    />
    <div>
      <h3>Money Returns</h3>
      <p>Money back guarantee under 7 days</p>
    </div>
  </div>
  <div style="display: flex">
    <img
      src="https://static.vecteezy.com/system/resources/previews/005/584/216/original/fast-delivery-icon-fast-delivery-logo-free-vector.jpg"
      style="width: 55px"
    />
    <div>
      <h3>Member Discount</h3>
      <p>On every order over $120.00</p>
    </div>
  </div>
  <div style="display: flex">
    <img
      src="https://static.vecteezy.com/system/resources/previews/005/584/216/original/fast-delivery-icon-fast-delivery-logo-free-vector.jpg"
      style="width: 55px"
    />
    <div>
      <h3>Free Delivery</h3>
      <p>Free delivery on all order</p>
    </div>
  </div>
</div> -->

<div class="row mb-2">
  <div class="col-md-3 d-flex">
    <i class="bi bi-car-front"></i>
    <div>
      <h5>Free Delivery</h5>
      <h6>Free shipping on all order</h6>
    </div>
  </div>
  <div class="col-md-3 d-flex">
    <i class="bi bi-car-front"></i>
    <div>
      <h5>Online Support 24/7</h5>
      <h6>Support online 24 hours a day</h6>
    </div>
  </div>
  <div class="col-md-3 d-flex">
    <i class="bi bi-car-front"></i>
    <div>
      <h5>Money Returns</h5>
      <h6>Back guarantee under 7 days</h6>
    </div>
  </div>
  <div class="col-md-3 d-flex">
    <i class="bi bi-car-front"></i>
    <div>
      <h5>Member Discount</h5>
      <h6>On every order over $120.00</h6>
    </div>
  </div>
</div>
