<!-- <div class="container-fluid mt-2">
  <div class="navv">
    <a class="navbar-brand" href="#">ele.mart</a>
    <div style="display: flex;">
    <input style="height: 38px; width: 425px;" class="form-control" type="search" placeholder="Search Your Product Here">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle bg-white text-black" type="button" data-bs-toggle="dropdown" aria-expanded="false">
       All Catogaries
      </button>
      <ul class="dropdown-menu" >
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
    <button style="height: 38px;" class="btn btn-primary" type="submit">Search</button>
  </div>
  <div>
    <a href="#" class="btn btn-info btn-lg">
      <span class="glyphicon glyphicon-user"></span> User
    </a>
    <button type="button" class="btn btn-default btn-sm">
      <span class="glyphicon glyphicon-shopping-cart"></span> Shopping
    </button>
  </div>
  </div>


</div> -->

<div class="container-fluid">
  <header class="heade">
    <div>
      <span class="brand1">ele.mart</span>
    </div>
    <div class="headd">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          All Catogaries
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
      </div>
      <button class="btn btn-success" type="submit" style="background-color: blue;">Search</button>
    </div>
    <div class="icons">
      <a class="bi bi-person">Sign Account</a>
      <a class="bi bi-heart"></a>
      <a class="bi bi-cart2"></a>
    </div>
  </header>
</div>
