<!-- <div class="align">
  <nav class="links">

    <ul>
      <li style="margin-right: 25px;">
        <a href="#">Home</a>
        <a href="#">Today's Deals</a>
        <a href="#">Trending Products</a>
        <a href="#">Blog</a>
        <a href="#">Special Offers</a>
      </li>
    </ul>

  </nav>


  <div class="bar">
    <div class="card mb-3" style="max-width: 540px; max-height: 350px; background-color: rgb(170, 163, 163);">
      <div class="row g-0">

        <div class="col-sm-6">
          <div class="card-body">
            <h4 style="font-size: 14px; color: red;">SUMMER SALE UPTO 70%</h4>
            <h4 class="card-title" style="font-size: 33px;">Polaroid i-Type Instant Camera</h4><br><br>
            <p class="card-text">Save and shoot straight from the box with three packs of iconic Polaroid</p>
            <button class="btn btn-primary">SHOP NOW</button>
          </div>
        </div>
        <div class="col-sm-6">
          <img style="width: 300px; margin-top: 5px;" src="https://cdn.sanity.io/images/66aqnbcn/production/ca3ba38892d8b3ded3098505c24586e41211a883-2048x2048.png" class="img-fluid rounded-start" alt="...">
        </div>
      </div>
    </div>

    <div>
      <div class="block">
        <div class="card mb-" style="max-width: 540px;">
          <div class="row g-0">

            <div class="col-sm-6">
              <div class="card-body">
                <h4 class="card-title">JBL Music Speaker</h4>
                <p class="card-text">Weekend Discount</p>
                <div class="vi"><h5>$270</h5>&nbsp;&nbsp;&nbsp;
                  <h6>$350</h6></div>

              </div>
            </div>
            <div class="col-sm-6 mt-2">
              <img style="width: 138px;" src="https://s3.amazonaws.com/cms.ipressroom.com/214/files/20220/61d44117b3aed3047b4eeb2b_Wind3/Wind3_thmb.png" alt="...">
            </div>
          </div>
        </div>

    </div>
    <div class="card" style="max-width: 540px;">
      <div class="row g-0">
        <div class="col-sm-6 mt-2">
          <img style="width: 108px;" src="https://www.reliancedigital.in/medias/Apple-Airpods-pro-492571631-i-1-1200Wx1200H?context=bWFzdGVyfGltYWdlc3w2ODM3N3xpbWFnZS9qcGVnfGltYWdlcy9oZDYvaDQ1Lzk4MjU2smg0NjY0NjIuanBnfGVjNTNmN2FiOGI4MGVkZmY3YzI1NWZjOWQ2YzFiY2U2NTk4MzkzNjczNTdjNTIxZDkzN2UyMjdhNGM3MmViOWU" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-sm-6">
          <div class="card-body">
            <h4 class="card-title">Apple AirPods Pro</h4>
            <p class="card-text">Weekend Discount</p>
              <div class="vi"><h5>$249</h5>&nbsp;&nbsp;&nbsp;
                <h6>$260</h6></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div> -->

<div class="menu">
  <a href="">Home</a>
  <a href="">Today's Deals</a>
  <a href="">Trending Products</a>
  <a href="">Blog</a>
  <a href="">Special Offers</a>
</div>

<!-- <div class="row">
  <div class="col-sm-8">
  <div class="col-sm-6">
    <h6 class="text-danger">SUMMER SALE UPTO 70%</h6>
    <h2>Polaroid i-Type Instant Camera</h2>
    <p>Save and shoot straight from the box with three packs of iconoc Polaroid.</p>
    <button class="btn btn-info">SHOP NOW</button>
  </div>
  <div class="col-sm-6">

  </div>
</div>
</div> -->

<!-- <div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-7">
        <div class="row p-2" style="background-color: rgb(170, 162, 162)">
          <div class="col-sm-6">
            <h6 class="text-danger">SUMMER SALE UPTO 70%</h6>
            <h2>Polaroid i-Type Instant Camera</h2>
            <p>
              Save and shoot straight from the box with three packs of iconoc
              Polaroid.
            </p>
            <button class="btn btn-info">SHOP NOW</button>
          </div>
          <div class="col-sm-6">
            <h2>6</h2>
          </div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                  <h2>JBL Music Speaker</h2>
                  <p>Weekend Discount</p>
                  <span>$270</span><span>$350</span>
              </div>
              <div class="col-sm-6">pics</div>
            </div>
          </div>
          <div class="col-sm-6">

            <div class="row">
              <div class="col"><h2>JBL Music Speaker</h2>
                <p>Weekend Discount</p>
                <span>$270</span><span>$350</span></div>

              <div class="w-100"></div>
              <div class="col"><h2>JBL Music Speaker</h2>
                <p>Weekend Discount</p>
                <span>$270</span><span>$350</span></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-sm-7">
    <div class="row">
      <div class="col-sm-6">
        <h6 class="text-danger">SUMMER SALE UPTO 70%</h6>
        <h2>Polaroid i-Type Instant Camera</h2>
        <p>
          Save and shoot straight from the box with three packs of iconoc
          Polaroid.
        </p>
        <button class="btn btn-info">SHOP NOW</button>
      </div>
      <div class="col-sm-6">
        <img src="https://www.lavatech.com.hk/cdn/shop/products/009062_Polaroid_NowPlus_White_FrontTilted_2000px_2048x.png?v=1642579657" alt="" style="width: 250px; margin-bottom: 40px;">
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div>
      <div class="row">
        <div class="col-sm-6">
          <h5>JBL Music Speaker</h5>
          <p>Weekend Discount</p>
          <span>$270</span><span>$350</span>
        </div>
        <div class="col-sm-6">
          <img src="https://rukminim1.flixcart.com/image/850/1000/ko62xzk0/speaker/mobile-tablet-speaker/s/u/y/jblclip4blko-jbl-original-imag2zffvcnjyzex.jpeg?q=90" alt="" style="width: 80px;">
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h5>JBL Music Speaker</h5>
            <p>Weekend Discount</p>
            <span>$270</span><span>$350</span>
          </div>
          <div class="col-sm-6">
            <img src="https://images.macrumors.com/t/jeSIj6IH-yMuFn6CI44qwcc9Q4o=/800x0/smart/article-new/2019/10/airpods-pro-roundup.jpg?lossy" alt="" style="width: 150px;"></div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-5"><h6 class="text-danger">SUMMER SALE UPTO 70%</h6>
        <h2>Polaroid i-Type Instant Camera</h2>
        <p>
          Save and shoot straight from the box with three packs of iconoc
          Polaroid.
        </p>
        <button class="btn btn-info">SHOP NOW</button></div>
      <div class="col-sm-7">
        <img src="https://www.lavatech.com.hk/cdn/shop/products/009062_Polaroid_NowPlus_White_FrontTilted_2000px_2048x.png?v=1642579657" alt="" style="width: 250px;">
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-6">
        <h5>JBL Music Speaker</h5>
        <p>Weekend Discount</p>
        <span>$270</span><span>$350</span>
      </div>
      <div class="col-sm-6">
        <img src="https://s3.amazonaws.com/cms.ipressroom.com/214/files/20220/61d44117b3aed3047b4eeb2b_Wind3/Wind3_thmb.png://rukminim1.flixcart.com/image/850/1000/ko62xzk0/speaker/mobile-tablet-speaker/s/u/y/jblclip4blko-jbl-original-imag2zffvcnjyzex.jpeg?q=90" alt="" style="width: 100%;">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h5>JBL Music Speaker</h5>
        <p>Weekend Discount</p>
        <span>$270</span><span>$350</span>
      </div>
      <div class="col-sm-6">
        <img src="https://images.macrumors.com/t/jeSIj6IH-yMuFn6CI44qwcc9Q4o=/800x0/smart/article-new/2019/10/airpods-pro-roundup.jpg?lossy" alt="" style="width: 100%;">
      </div>
    </div>
  </div>
</div>
