<!-- <div class="ali">
  <div class="card mb-3 w-70">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          style="width: 900px; height: 400px"
          src="https://www.teriosgaming.com/cdn/shop/products/01_1000x1000.jpg?v=1612508080"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8" style="width: 200px;">
        <div class="card-body">
          <p class="text1">Deals of the day</p>
          <h2 class="card-title" style="width: 300px">
            Xbox Elite Wireless Controller Series 2
          </h2>
          <span style="color: red">$139.99</span>
          <span style="text-decoration: line-through">$179.99</span>
          <p class="card-text">
            The Xbox Elite Wireless Controller Series 2 features over 30 ways to
            play loke a pro, including adjustable-tension thumbsticks.
          </p>

          <span>Solid:15</span>
          <span style="margin-left: 320px">Available:85</span>

          <div class="progress" role="progressbar" style="height: 12px">
            <div class="progress-bar" style="width: 15%"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-bg-white text-black">
    <img
      src="https://m.media-amazon.com/images/I/51lCoB8960L._AC_UF350,350_QL80_.jpg"
      style="width: 400px; height: 500px"
      class="card-img"
      alt="..."
    />
    <div class="card-img-overlay">
      <h5 class="card-title">Mi Smart Compact Projector</h5>
      <p class="card-text">Weekend Discount</p>
      <h6>$499.99</h6>
    </div>
  </div>

  <div class="card text-bg-white text-black">
    <img
      src="https://img.al-style.kz/32111_1.jpg"
      style="width: 400px; height: 400px"
      class="card-img"
      alt="..."
    />
    <div class="card-img-overlay">
      <h5 class="card-title">Mi Air Purifier 3H</h5>
      <p class="card-text">Flash Sale</p>
      <h6>$269.99</h6>
    </div>
  </div>
</div> -->

<!-- <div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">5</div>
      <div class="col-md-7">
        <p>Deals of the day</p>
        <h2>Xbox Elite Wireless Controller Series 2</h2>
        <span style="color: red">$139.99</span>
        <span style="text-decoration: line-through">$179.99</span>
        <p>
          The Xbox Elite Wireless Controller Series 2 features over 30 ways to
          play loke a pro, including adjustable-tension thumbsticks.
        </p>
        <span>Solid:15</span>
        <span style="margin-left: 320px">Available:85</span>

        <div class="progress" role="progressbar" style="height: 12px">
          <div class="progress-bar" style="width: 15%"></div>
        </div>
        <h3></h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col">
        <div class="card text-bg-white text-black">
          <img
            src="https://m.media-amazon.com/images/I/51lCoB8960L._AC_UF350,350_QL80_.jpg"
            style="width: 150px"
            class="card-img"
            alt="..."
          />
          <div class="card-img-overlay">
            <h5 class="card-title">Mi Smart Compact Projector</h5>
            <p class="card-text">Weekend Discount</p>
            <h6>$499.99</h6>
          </div>
        </div>
      </div>

      <div class="w-100"></div>
      <div class="col">col13</div>
    </div>
  </div>
</div> -->


<div class="row">
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-5">Product pics</div>
      <div class="col-md-7">
        <p>Deals of the day</p>
        <h2>Xbox Elite Wireless Controller Series 2</h2>
        <span style="color: red">$139.99</span>
        <span style="text-decoration: line-through">$179.99</span>
        <p>
          The Xbox Elite Wireless Controller Series 2 features over 30 ways to
          play loke a pro, including adjustable-tension thumbsticks.
        </p>
        <span>Solid:15</span>
        <span style="margin-left: 320px">Available:85</span>

        <div class="progress" role="progressbar" style="height: 12px">
          <div class="progress-bar" style="width: 15%"></div>
        </div>
        <h3>Coutdown</h3>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div>
      <h2>Image1</h2>
    </div>
    <div>
      <h2>Image2</h2>
    </div>
  </div>
</div>
